<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Storage Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Create/Update Key:</ion-label>
          <ion-input type="text" [(ngModel)]="key"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Create/Update Value:</ion-label>
          <ion-input type="text" [(ngModel)]="value"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button (click)="setItem()">Set Item</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Read Key:</ion-label>
          <ion-input type="text" [(ngModel)]="getItemKey"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button (click)="getItem()">Get Item</ion-button>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Show Value</ion-label>
          <ion-input type="text" [(ngModel)]="itemValue" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-label>Table of Records</ion-label>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>{{ item.key }}</ion-label>
      <ion-label>{{ item.value }}</ion-label>
      <ion-button (click)="removeListItem(item)">Remove</ion-button>
    </ion-item>
  </ion-list>
  <ion-button (click)="clearItems()">Clear All Items</ion-button>
</ion-content>