<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Add the form to our template. -->
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
      <!-- Note appears under slot if input is invalid -->
      <ion-note
        slot="end"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email is invalid</ion-note
      >
    </ion-item>
    <!-- Add password input -->
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="password"
        placeholder="Password"
        formControlName="password"
      ></ion-input>
      <!-- Note appears under slot if input is invalid -->
      <ion-note
        slot="end"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >Password needs to contain a minimum 6 characters
      </ion-note>
    </ion-item>
    <!-- Add Log in button which is disabled while credentials are invalid -->
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
      >Log in</ion-button
    >
    <!-- Add register button -->
    <ion-button
      type="button"
      expand="block"
      color="secondary"
      [disabled]="!credentials.valid"
      (click)="register()"
      >Create account</ion-button
    >
  </form>

  <!-- Add reset password button -->
  <ion-button
    expand="block"
    color="tertiary"
    (click)="sendReset()"
    [disabled]="email.invalid"
    >Reset password</ion-button
  >
</ion-content>
