<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/test-page']">Go to test page</ion-button>
  <ion-menu-toggle>
    <ion-button>Click to close the menu</ion-button>
  </ion-menu-toggle>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button [routerLink]="['/test-page', { text: text }]">Navigate to test page with routerLink</ion-button>
    <ion-button (click)="pushTestPageOnToStack()">Push Test Page on to stack</ion-button>
    <ion-item>
      <ion-input label="Enter your name here: " [(ngModel)]="text"></ion-input>
    </ion-item>
  </ion-content>
</div>