<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <!-- Add button to navigate to ngmodule component -->
    <ion-button routerLink="/ngmodule">Go to Ngmodule</ion-button>
    <ion-button routerLink="/standalone">Go to Standalone</ion-button>
    <!-- Add button to navigate to notes component -->
    <ion-button routerLink="/notes">Go to Notes</ion-button>
  </div>
</ion-content>
