<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- add a button to naviagte to ngmodule component using the routerLink directive -->
  <ion-button routerLink="/ngmodule">Navigate to Ngmodule</ion-button>
  <br>
  <!-- add a button to naviagte to standalone component using the routerLink directive -->
  <ion-button routerLink="/standalone">Navigate to standalone component</ion-button>
</ion-content>